* {
  -webkit-tap-highlight-color: transparent;
}
body{
  background-color: #f3f1f0;
}
.accordion{
  max-width: 40em;
  width: 100%;
  margin: 0 auto;
  color: #a83b08;
}
.accordion:hover span{
  color: #000;
}
.accordion-item{
  margin-top: 0.625em;
}
h1{
  text-align: center;
  font-size: 1.2em;
}
label{
  cursor: pointer;
  width: 100%;
  display:flex;
  align-items:center;
  flex-wrap: wrap;
  padding-bottom: 0.625em;
  border-bottom: 0.063em solid #bbb6b4;
}
span{
  max-width: 15em;
  width: 100%;
  font-size: 1em;
}
.fa{
  margin-left: auto;
  visibility: hidden;
}
img{
  padding-top: 0.625em;
  width: 100%;
  display: block;
}
input[type="radio"]{
  visibility: hidden;
  height: 0;
}
.accordion-item img{
  visibility: hidden;
  height: 0;
}
.accordion:hover input[type="radio"]:not(:checked) + label .fa{
  visibility: visible;
  transition: 0.8s;
  color: #000;
}
.accordion:hover input[type="radio"]:checked + label .fa{
  visibility: visible;
  color: #3aab43;
}
input[type="radio"]:checked + label img{
  visibility: visible;
  height: auto;
  transition: all 2s ease-in-out;
}
input[type="radio"]:checked + label .fa,
.accordion-item:hover input[type="radio"]:not(:checked) + label .fa{
  transform: rotate(180deg);
  color: #3aab43;
}
input[type="radio"]:checked + label span{
  color: #3aab43;
}
.accordion-item:hover img{
  visibility: visible;
  height: auto;
  transition: all 2s ease-in-out;
}
.accordion-item:hover span{
  color: #3aab43;
}
.accordion-item:active input[type="radio"]:checked + label img, 
.accordion-item:active img{
  opacity: 0.5;
  transition: none;
}
.accordion-item:active input[type="radio"]:checked + label span,
.accordion-item:active span{
  color: #6ab1c1;
}
.accordion-item:active input[type="radio"]:checked + label .fa,
.accordion-item:active input[type="radio"]:not(:checked) + label .fa{
  color: #6ab1c1;
}

@media screen and (min-width: 320px){
  h1{
    font-size: 1.4em;
  }
  span{
    max-width: 16em;
    font-size: 1.1em;
  }
}
@media screen and (min-width: 820px){
  h1{
    font-size: 1.6em;
  }
  span{
    max-width: 30em;
    font-size: 1.2em;
  }
}

@media (hover: hover) and (pointer: coarse){
  .fa{
    visibility: visible;
    height: auto;
  }
  h1{
    color: red;
  }
}